<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    *{
      /*outline: 1px solid green;*/
    }
  </style>
</head>

<body>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <mata name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>PASSER 訂購確認信</title>
  </head>

  <body style="margin: 0; padding: 0; min-width: 0; background-color: #fff; font-family: Microsoft JhengHei ,Helvetica, Arial, sans-serif;">
    <center style="width: 100%; table-layout:fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
      <table style="width: 100%; max-width: 600px; margin: 0 auto; padding: 0 13px; text-align: left; background-color: #eee;">
        <tr>
          <td style="width: 100%;">

            <table style="width: 100%; text-align: center; margin: 26px 0;">

              <tr>
                <td><img style="height: 25px; width: 25px; margin: 0 auto;" src="https://passer.cc/assets/logo-7b84949fbb468d407b02280f5c5e485b169a4f15859a44e64e380d9e6ae2a055.png"
                  /></td>
              </tr>

            </table>

            <p style="margin: 0 5px 15px 5px; color: #000; font-size: 14px; text-align: left; line-height: 1.5;">親愛的<span style="color: #f04e2f;"> xxx</span> 您好，感謝您使用 PASSER 訂購票券，您的訂單資訊如下：</p>

            <div>

              <table style="border-collapse: collapse; width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative; padding: 12px 0;">

                <thead style="width: 100%; text-align: center; background-color: #ddd; padding-top: 10px; border-radius: 2px;">
                  <tr>
                    <th colspan="2" style="font-size: 16px; margin: 0 0 10px 0; color: #000; text-align: left; padding: 1rem; font-weight: 400;">場次資訊</th>
                  </tr>
                </thead>

                <tbody>
                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem;">名稱</td>
                    <td style="text-align: right; padding: 1rem">《作韻》客家聲腔與箏樂的對話</td>
                  </tr>
                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem;">地點</td>
                    <td style="text-align: right; padding: 1rem;">台北國家演奏廳 / 臺北市中正區中山南路21-1號</td>
                  </tr>
                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem;">時間</td>
                    <td style="text-align: right; padding: 1rem;">2017/08/24 19:30 ~ 2017/08/24 21:30</td>
                  </tr>
                   <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem;">訂單編號</td>
                    <td style="text-align: right; padding: 1rem;">PA1707B4TUFEI</td>
                  </tr>
                </tbody>

              </table>

              <table style="border-collapse: collapse; width: 100%; text-align: center; background-color: #ddd; padding-top: 10px; border-radius: 2px; margin-top: 20px;">
                <thead style="width: 100%; text-align: center; background-color: #ddd; padding-top: 10px; border-radius: 2px;">
                  <tr>
                    <th colspan="2" style="font-size: 16px; margin: 0 0 10px 0; color: #000; text-align: left; padding: 1rem; font-weight: 400;">付款明細</th>
                  </tr>
                </thead>

                <tbody>
                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem; width: 60%;">一般票B</td>
                    <td style="text-align: right; padding: 1rem;">NT$ 500 x 56</td>
                  </tr>

                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem">付款手續費</td>
                    <td style="text-align: right; padding: 1rem;">NT$ 0</td>
                  </tr>

                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem;">配送手續費</td>
                    <td style="text-align: right; padding: 1rem;">NT$ 0</td>
                  </tr>

                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem">優惠碼折抵</td>
                    <td style="text-align: right; padding: 1rem;">-NT$ 0</td>
                  </tr>

                  <tr style="width: 100%; font-size: 16px; color: #000; text-align: center; border-top: 1px solid #eee; background-color: #fff; position: relative;">
                    <td style="text-align: left; padding: 1rem">金額總計</td>
                    <td style="text-align: right; padding: 1rem; color: #f04e2f;">NT$ 28,000</td>
                  </tr>
                </tbody>
              </table>

              <table style="width: 100%; color: #666; text-align: center; padding: 1rem; border-bottom: 1px solid #ccc; font-size: 14px;">
                <tr>
                  <td>此信件為系統發出信件，請勿直接回覆。感謝您的配合，謝謝！</td>
                </tr>
              </table>

              <table style="width: 100%; color: #999; text-align: center; padding: 1rem; font-size: 14px; line-height: 22px;">
                <tr>
                  <td>
                    客服信箱：info@wavinfo.com / 客服電話：(02)2885-6129
                    <br> 營業時間：週一至週五 09：00 至 18：00
                  </td>
                </tr>
              </table>

          </td>
        </tr>
      </table>
    </center>
    <!-- TODO: GA tracking code -->
</body>

</html>